html{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
font-size: px;
font-weight: normal;
text-align: center;
}
h2{
    color: aquamarine;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
}
.iphone{
    text-align: center;
}
.Middle h1{
font-weight: 300;
font-size: 42;
}
p{
color: grey;
font-size: 21px;
text-align: center;
}
footer p{
    text-align: right;
}